In [200]:
# Modules
import os
import csv
import pandas as pd

In [201]:
# Set path for file
csvpath = os.path.join("04-Pandas_Homework_Instructions_HeroesOfPymoli_Resources_purchase_data.csv")
playerdata=pd.read_csv(csvpath)
playerdata

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [202]:
#display total number of players
total_purchases=len(playerdata)
total_purchases

#this needs to be in a labeled column format? Make a dataframe with row labels? And unique identifiers only.

780

In [203]:
#this gets us all the unique player names. Might be useful someday. 
unique_players = playerdata['SN'].unique()
print('Unique elements in column "SN" ')
print(unique_players)

Unique elements in column "SN"
['Lisim78' 'Lisovynya38' 'Ithergue48' 'Chamassasya86' 'Iskosia90'
 'Yalae81' 'Itheria73' 'Iskjaskst81' 'Undjask33' 'Chanosian48' 'Inguron55'
 'Haisrisuir60' 'Saelaephos52' 'Assjaskan73' 'Saesrideu94' 'Lisassa64'
 'Lisirra25' 'Zontibe81' 'Reunasu60' 'Chamalo71' 'Iathenudil29'
 'Phiarithdeu40' 'Siarithria38' 'Eyrian71' 'Siala43' 'Lisirra87'
 'Lirtossa84' 'Eusri44' 'Aela59' 'Tyida79' 'Idai61' 'Farusrian86'
 'Aeralria27' 'Haillyrgue51' 'Sondim73' 'Jeyciman68' 'Idaisuir85'
 'Seuthep89' 'Reulae52' 'Sondilsaya62' 'Aerithriaphos45' 'Assosia88'
 'Aidaillodeu39' 'Aelly27' 'Tyeosri53' 'Haerith37' 'Yasrisu92'
 'Chanuchi25' 'Asur96' 'Iaralrgue74' 'Chanosia34' 'Aelin32' 'Ilosianya35'
 'Zhisrisu83' 'Phaelap26' 'Raesty92' 'Palyon91' 'Tyisur83' 'Yaliru88'
 'Yadanu52' 'Jiskimya77' 'Yadaphos40' 'Alo38' 'Phaena87' 'Chamirraya83'
 'Chanastsda67' 'Indonmol95' 'Jiskossa61' 'Pheodai94' 'Hari50' 'Marilsa69'
 'Assistasda42' 'Lisosia93' 'Philodil43' 'Mindadaran26' 'Lirtosia63'
 'Assjaskan56' 'Irithlis29' 'Heudai45' 'Haerithp41' 'Aina42' 'Jiskjask60'
 'Umolrian85' 'Qarirwen82' 'Laedallo55' 'Eoralrap26' 'Undosian34'
 'Chadolyla44' 'Chadistaya75' 'Yathedeu43' 'Aina43' 'Ilassast39'
 'Lisassala98' 'Aiduecal76' 'Chadossa89' 'Pheodaisun84' 'Heollyriap59'
 'Maropast28' 'Frichim77' 'Thryallym62' 'Eulanurin88' 'Lassjaskan73'
 'Tyaerith73' 'Sondadarya58' 'Hirirap39' 'Ririp86' 'Sundim98'
 'Iskichinya81' 'Phyali88' 'Undirrala66' 'Nitherian58' 'Lassilsala30'
 'Frichaststa61' 'Frichosia58' 'Ilosia37' 'Lisista27' 'Seudaillorap38'
 'Aesty53' 'Yathecal82' 'Lisossanya98' 'Iral74' 'Lisast87' 'Maridisya31'
 'Jiskassa76' 'Ethriel85' 'Iskirra45' 'Iri67' 'Rarallo90' 'Lisasi93'
 'Adastirin33' 'Eyista89' 'Ili43' 'Chamirra53' 'Hailaphos89' 'Iskadarya95'
 'Qilatista90' 'Inasti31' 'Marilsanya48' 'Marjask87' 'Chanjaskan89'
 'Hyaduesu61' 'Aillyrin83' 'Marast30' 'Sundadar27' 'Tyaelorap29'
 'Lirtimst73' 'Styaduen40' 'Sidap51' 'Chanastst38' 'Lirtassa52' 'Sondim68'
 'Aeral97' 'Heosurnuru52' 'Lisopela58' 'Caesrinusuir82' 'Tyirinu79'
 'Fironon91' 'Lassjask63' 'Indcil77' 'Chamimla73' 'Syathe73'
 'Baelollodeu94' 'Mindista32' 'Saena74' 'Marirrasta50' 'Lamil79'
 'Aenarap34' 'Aisur51' 'Thrientossa55' 'Chadista79' 'Tyeurith29'
 'Malunil62' 'Hiasri33' 'Lisadar44' 'Frichjask31' 'Lisjaskya84'
 'Ristydru66' 'Frichast28' 'Minduri31' 'Maradaran90' 'Mindetosya30'
 'Ialallo29' 'Pheusrical25' 'Chanosia60' 'Phistym51' 'Aelollo59'
 'Chamimla85' 'Haisurra41' 'Sondastsda82' 'Qilanrion65' 'Eulasuir89'
 'Eosrirgue62' 'Shaidanu32' 'Lirtastan49' 'Iaralsuir44' 'Tyeudariasuir90'
 'Cosadar58' 'Aelastirin39' 'Aidai53' 'Jiskjask85' 'Ealrion88'
 'Chamjask73' 'Tyaenasti87' 'Alim85' 'Haeladil46' 'Jiskirran77'
 'Undosia27' 'Peorith44' 'Yarithsurgue62' 'Taeduenu92' 'Rairin89'
 'Aerithriaphos46' 'Idairin51' 'Lisista54' 'Eodailis27' 'Lirtastsda29'
 'Undilsan50' 'Eodaisu60' 'Quaranmol58' 'Lirtossa60' 'Lirtilsa71'
 'Isursuir31' 'Sundirrala66' 'Saerallora71' 'Iasur80' 'Tyaelo67'
 'Quanunwen42' 'Yasur35' 'Assehoan67' 'Haellysu29' 'Saida58' 'Chamadar79'
 'Aeral43' 'Lirtirra37' 'Tyidaim51' 'Lassassast73' 'Assassasta79'
 'Heollyra92' 'Anallorgue57' 'Aerithllora36' 'Smaistysu35' 'Ennalmol65'
 'Yarithrgue83' 'Yana46' 'Sondimla25' 'Aidai61' 'Wailin72' 'Firan91'
 'Alaesu91' 'Aellynun67' 'Rilaera56' 'Eulaestira36' 'Marim28'
 'Idastidru52' 'Ilirrasda54' 'Alaephos75' 'Syalollorap93' 'Minduli80'
 'Chanastya70' 'Frichadaran88' 'Siallylis44' 'Aeri84' 'Iasursti71'
 'Mindilsa34' 'Chamastya76' 'Undirra73' 'Aestysu37' 'Chadadarla74'
 'Strithenu87' 'Iasrira89' 'Ialidru40' 'Tyalaesu89' 'Tyidainu31'
 'Lirtilsa72' 'Undjaskla97' 'Saedaiphos46' 'Aerithnucal56' 'Lisossa46'
 'Layjask75' 'Lisista63' 'Ceoral34' 'Hilaerin92' 'Chadilsasta32'
 'Undassa89' 'Iduenu77' 'Lisosia66' 'Undimsya85' 'Phaedue89' 'Yadacal26'
 'Lisossa25' 'Ilmol66' 'Yastyriaphos75' 'Hiasurria41' 'Palatyon26'
 'Qilalista41' 'Hada39' 'Chamilsala65' 'Rairith81' 'Ilarin91' 'Ryanara76'
 'Undista85' 'Tyeoralru41' 'Pheosrinudeu70' 'Heuli25' 'Pheutherin27'
 'Chadirra90' 'Ali84' 'Frichjaskan98' 'Malil90' 'Yarithllodeu72'
 'Tyaedainu44' 'Ethron58' 'Eusurdeu49' 'Saistyphos30' 'Saisrilis27'
 'Hallysucal81' 'Ilimya66' 'Raysistast71' 'Haedairiadru51' 'Tyananurgue44'
 'Risty84' 'Aerillorin70' 'Phistyn52' 'Yalo85' 'Chamirrasya33' 'Hiral75'
 'Isursti83' 'Bartassaya73' 'Aeda94' 'Quinarap53' 'Asur53' 'Alarap40'
 'Sida61' 'Hiarideu73' 'Lassassasda30' 'Ennoncil86' 'Siralsudeu54'
 'Eusri26' 'Ardcil81' 'Marilsasya33' 'Lirtim36' 'Heunadil74' 'Frichadar89'
 'Aesurstilis64' 'Idaidil28' 'Lisotesta51' 'Lisico81' 'Lisiriya82'
 'Siana77' 'Marokian45' 'Sausosia74' 'Assesi91' 'Eusri70' 'Aisurria69'
 'Iarilis73' 'Raisty38' 'Ilista82' 'Leyirra83' 'Aiduesu86' 'Frichynde86'
 'Hisridru55' 'Chamossa77' 'Irillo49' 'Lirtastsya71' 'Frichosiala98'
 'Qilunan34' 'Quarrion42' 'Aisurdru79' 'Hiaral50' 'Iarallo65'
 'Sondassasya91' 'Chanossast57' 'Chanjask65' 'Ethralista69'
 'Sondistanya61' 'Eudanu32' 'Euthe35' 'Lassimla92' 'Lisossala30' 'Eulae84'
 'Chamadarnya73' 'Eolan54' 'Assistasda90' 'Ennrian78' 'Undirrasta89'
 'Rianistast50' 'Undare39' 'Adairialis76' 'Aesur96' 'Tyialisudeu65'
 'Arirgue63' 'Sundadarla27' 'Eyircil84' 'Ina92' 'Lirtistanya48'
 'Marassa62' 'Mindossa76' 'Salilis27' 'Sondossa69' 'Sundjask71' 'Errian63'
 'Eurithphos97' 'Raillydeu47' 'Malon70' 'Jiskimsda56' 'Marughi89'
 'Ingatcil75' 'Chanirrasta87' 'Alaesu77' 'Ermol76' 'Tyeuduen32' 'Firon67'
 'Iadueria43' 'Pheulidil31' 'Eodairu79' 'Frichocesta66' 'Thourdirra92'
 'Chanastnya43' 'Iskim96' 'Eulolis41' 'Sastydeu50' 'Ilaesudil92' 'Yasur85'
 'Aidain51' 'Aerithnuphos61' 'Yalostiphos68' 'Meosridil82' 'Aillyriadru65'
 'Sally64' 'Lisim51' 'Isurria36' 'Silaera56' 'Leetirraya83' 'Lirtirra81'
 'Eryon48' 'Iana95' 'Sondassan80' 'Chanadar44' 'Eosurdru76' 'Shidai42'
 'Aesri53' 'Syally44' 'Jiskadarst60' 'Sondadar26' 'Malarrian73'
 'Maluncil97' 'Ilunyon70' 'Yadam35' 'Dyally87' 'Pheosurllorin41'
 'Frichaya88' 'Lassadarsda57' 'Marynde90' 'Isri34' 'Assastnya25'
 'Ardonmol96' 'Lassirrasda85' 'Chadossa56' 'Poshilsa82' 'Yoishirrala98'
 'Sundista37' 'Ilassa51' 'Filurarn35' 'Phaestycal84' 'Irilis75'
 'Aeralstical35' 'Chanirrala39' 'Chanirra79' 'Assirra56' 'Seolollo93'
 'Iathem87' 'Iasurriacal29' 'Lisast98' 'Filrion59' 'Halaecal66'
 'Iskosian40' 'Ilastilis78' 'Seosrim97' 'Farrian71' 'Rithe53'
 'Frichossala54' 'Chamjaskya75' 'Quanrion96' 'Tyaelaelis94' 'Quanenrian83'
 'Chanirra64' 'Yadaisuir65' 'Syathecal44' 'Arin32' 'Aelaria33' 'Assassa81'
 'Filrion83' 'Eoral49' 'Airi27' 'Eurisuru25' 'Liawista80' 'Lisirra58'
 'Chamadarsda63' 'Haestyphos66' 'Phaedasurap84' 'Mindimnya67' 'Chadjask85'
 'Eustyria89' 'Iskim66' 'Chamast86' 'Lirtassan78' 'Ethrasyon38'
 'Quilassa66' 'Lisassasda39' 'Mindilsa60' 'Lalossa38' 'Chamistast30'
 'Hariphos58' 'Assilsan72' 'Inasuir29' 'Chanilsasda38' 'Mindesi74'
 'Ililsan66' 'Idacal95' 'Aeral68' 'Tyarithn67' 'Asty82' 'Yalaeria91'
 'Chadjask77' 'Ealiril69' 'Quaecjask96' 'Firatan58' 'Yarolwen77'
 'Tyaelistidru84' 'Yarithrin84' 'Tyaelly53' 'Phiristi62' 'Ililsasya43'
 'Aithelis62' 'Undotesta33' 'Aelidru27' 'Chanossanya44' 'Maradarnya40'
 'Lisilsa62' 'Saena89' 'Chanilsast61' 'Sundassa93' 'Aidai73' 'Indirrian56'
 'Lisassasta50' 'Iduelis31' 'Chanosiaya39' 'Assylla81' 'Aidaira26'
 'Eudanu84' 'Chamiman85' 'Tyialisti80' 'Marundi65' 'Eusur90'
 'Mindirranya33' 'Phiallylis33' 'Isty55' 'Frichilsa31' 'Chanista95'
 'Aellyria80' 'Rastynusuir31' 'Iljask75' 'Lisjaskan36' 'Mindjasksya61'
 'Frichirranya75' 'Ilast79' 'Eratiel90' 'Assim27' 'Irith83' 'Ilosian36'
 'Iskossasda43' 'Hala31' 'Jiskjask80' 'Aethedru70' 'Yathecal72' 'Sisur91']

In [204]:
#find number of unique players
number_unique_players=len(unique_players)
#print ('Number of Players')
number_unique_players

576

In [7]:
#make a list of the unique items
unique_items=playerdata['Item Name'].unique()
print (unique_items)

['Extraction, Quickblade Of Trembling Hands' 'Frenzied Scimitar'
 'Final Critic' 'Blindscythe' 'Fury' 'Dreamkiss'
 'Interrogator, Blood Blade of the Queen' 'Abyssal Shard' 'Souleater'
 'Ghastly Adamantite Protector' 'Singed Onyx Warscythe'
 'Renewed Skeletal Katana' "Bloodlord's Fetish"
 'Bone Crushing Silver Skewer' 'Deadline, Voice Of Subtlety'
 'Second Chance' 'Devine' 'Nirvana' 'Blazefury, Protector of Delusions'
 'Despair, Favor of Due Diligence' 'Sun Strike, Jaws of Twisted Visions'
 'Warped Fetish' 'Severance' 'Persuasion'
 'Oathbreaker, Last Hope of the Breaking Storm' 'Demise'
 'Blood-Forged Skeletal Spine' 'Stormbringer, Dark Blade of Ending Misery'
 'Shadow Strike, Glory of Ending Hope' 'Striker'
 'Wolf, Promise of the Moonwalker' "Faith's Scimitar"
 'Bonecarvin Battle Axe' 'Azurewrath' 'Vengeance Cleaver'
 'Haunted Bronzed Bludgeon' 'Ritual Mace' 'Blade of the Grave'
 'Thorn, Satchel of Dark Souls' "Winter's Bite"
 'Thorn, Conqueror of the Corrupted' "Reaper's Toll" 'Avenger'
 'Shadowsteel' 'Peacekeeper, Wit of Dark Magic' 'Suspension' 'Amnesia'
 'Soul Infused Crystal' 'Wolf' 'Relentless Iron Skewer' 'Hero Cane'
 'Arcane Gem' 'Dreamsong' 'Darkheart' 'Hailstorm Shadowsteel Scythe'
 'Whistling Mithril Warblade' 'Foul Titanium Battle Axe' 'Retribution Axe'
 'Rusty Skull' 'Riddle, Tribute of Ended Dreams' 'Chaos, Ender of the End'
 'Storm-Weaver, Slayer of Inception' 'Venom Claymore'
 'Emberling, Defender of Delusions' 'Netherbane' 'Dawn' 'Primitive Blade'
 'Dawne' 'Curved Axe' 'Fate, Vengeance of Eternal Justice'
 'Lazarus, Terror of the Earth' 'Lightning, Etcher of the King'
 'Betrayal, Whisper of Grieving Widows' 'Exiled Doomblade'
 'Undead Crusader' 'Downfall, Scalpel Of The Emperor' 'Sleepwalker'
 'Eternal Cleaver' 'Expiration, Warscythe Of Lost Worlds' 'Malificent Bag'
 'Mercy, Katana of Dismay' 'Orbit' 'Deathraze' 'Serenity'
 'Heartstriker, Legacy of the Light' 'Glimmer, Ender of the Moon'
 'Deluge, Edge of the West' 'Crucifer' 'Piece Maker'
 'Brutality Ivory Warmace' "Freak's Bite, Favor of Holy Might"
 'Yearning Crusher' 'Agatha' 'Fiery Glass Crusader' 'Splinter' 'Verdict'
 'Warped Iron Scimitar' 'Darkheart, Butcher of the Champion'
 'Purgatory, Gem of Regret' 'Woeful Adamantite Claymore'
 'Hopeless Ebon Dualblade' "Warmonger, Gift of Suffering's End"
 "Misery's End" 'Phantomlight' 'Conqueror Adamantite Mace'
 "Dragon's Greatsword" 'Stormcaller' 'Spada, Etcher of Hatred'
 "Twilight's Carver" 'Putrid Fan' 'Blood Infused Guardian'
 'Singed Scalpel' 'Warped Diamond Crusader' 'Endbringer' 'Feral Katana'
 'Orenmir' 'Piety, Guardian of Riddles' 'Brimstone' 'Stormfury Mace'
 'Frenzy, Defender of the Harvest' "Solitude's Reaver" 'Mercenary Sabre'
 'Yearning Mageblade' 'Tranquility, Razor of Black Magic'
 'Oathbreaker, Spellblade of Trials' 'Aetherius, Boon of the Blessed'
 'Righteous Might' 'Victor Iron Spikes' 'Swan Song, Gouger Of Terror'
 'Thunderfury Scimitar' 'Splitter, Foe Of Subtlety' 'Restored Bauble'
 'The Decapitator' 'Pursuit, Cudgel of Necromancy' 'Lifebender'
 'Flux, Destroyer of Due Diligence' 'Mourning Blade' 'Toothpick'
 "Hope's End" 'Torchlight, Bond of Storms' 'Thirsty Iron Reaver'
 'Stormfury Longsword' 'Malice, Legacy of the Queen'
 'War-Forged Gold Deflector' 'Blazeguard, Reach of Eternity'
 'Soul-Forged Steel Shortsword' 'Hellreaver, Heirloom of Inception'
 'Heartless Bone Dualblade' 'Scalpel' 'Hatred' 'Crying Steel Sickle'
 'The Void, Vengeance of Dark Magic' 'Celeste'
 'Ghost Reaver, Longsword of Magic'
 'Celeste, Incarnation of the Corrupted' 'Glinting Glass Edge'
 'The Oculus, Token of Lost Worlds' 'Massacre' 'Alpha, Oath of Zeal'
 'Possessed Core' 'Foul Edge' 'Trickster' 'Fusion Pummel'
 'Stormfury Lantern' 'Apocalyptic Battlescythe' 'Unholy Wand'
 'Unending Tyranny' 'Ragnarok' 'Rage, Legacy of the Lone Victor'
 'Worldbreaker' 'Exiled Mithril Longsword' 'Spectral Diamond Doomblade'
 'Vindictive Glass Edge' 'Heartseeker, Reaver of Souls'
 'Alpha, Reach of Ending Hope' 'Alpha' 'Betrayer'
 'Winterthorn, Defender of Shifting Worlds' "Gladiator's Glaive"]

In [205]:
#obtain number of unique items
number_unique_items=len(unique_items)
number_unique_items

179

In [206]:
#average price(sum of price column/total_purchases OR df.describe)

average_price=playerdata.describe()['Price']['mean']
average_price

3.0509871794871795

In [207]:
#number of purchases is defined above
total_purchases

780

In [208]:
#finding total revenue for items sold

total_revenue=playerdata.sum()["Price"]
total_revenue

2379.77

In [209]:
#sum_of_purchase=playerdata.sum()
#sum_of_purchase
#average_purchase_price=

In [210]:
purchasing_analysis={}

purchasing_analysis["Number of Unique Items"]=[number_unique_items]
purchasing_analysis["Average Price"]=[average_price]
purchasing_analysis["Number of Purchases"]=[total_purchases]
purchasing_analysis["Total Revenue"]=[total_revenue]

Total_Purchasing_Analysis=pd.DataFrame(purchasing_analysis)
Total_Purchasing_Analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [211]:
playerdatadropduplicates=playerdata[["Gender", "SN", "Age"]]

playerdatadropduplicates = playerdatadropduplicates.drop_duplicates()

playerdatadropduplicates

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

In [212]:
gender_counts=playerdatadropduplicates["Gender"].value_counts()
gender_counts

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [218]:
player_sexes=playerdatadropduplicates.groupby('Gender').count() 
player_sexes["Total Count"]=gender_counts

player_sexes_nosn=player_sexes.drop(["SN", "Age"], axis=1)


player_sexes_nosn

                       Total Count
Gender
Female                          81
Male                           484
Other / Non-Disclosed           11

In [219]:
female_players=player_sexes.loc["Female", "SN"]
female_players

81

In [220]:
male_players=player_sexes.loc["Male", "SN"]
male_players

484

In [32]:
other_players=player_sexes.loc["Other / Non-Disclosed", "SN"]
other_players

11

In [221]:
playerdata.nunique(axis=0, dropna=True)

Purchase ID    780
SN             576
Age             39
Gender           3
Item ID        179
Item Name      179
Price          145
dtype: int64

In [224]:
player_sexes_nosn["Percentage"]=(player_sexes_nosn/number_unique_players)*100 



player_sexes_nosn

                       Total Count  Percentage
Gender
Female                          81   14.062500
Male                           484   84.027778
Other / Non-Disclosed           11    1.909722

In [225]:
playerdata

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [93]:

gender_purchase_total=playerdata.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
total_purchase_value=gender_purchase_total

purchase_count=playerdata.groupby(["Gender"]).count()["Item Name"].rename("Total Count")

gender_purchase_total=pd.DataFrame(gender_purchase_total)
gender_purchase_total["Purchase Count"]= purchase_count
gender_purchase_total["Average Purchase Price"]= total_purchase_value /purchase_count
gender_purchase_total["Avg Total Purchase per Person"]=total_purchase_value/player_sexes["Total Count"]


gender_purchase_total

,Total Purchase Value,Purchase Count,Average Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,361.94,113,3.203009,4.468395
Male,1967.64,652,3.017853,4.065372
Other / Non-Disclosed,50.19,15,3.346000,4.562727

In [102]:
#Find the range of player ages

print(playerdata["Age"].min())
print (playerdata["Age"].max())

7
45

In [121]:
players_binned=playerdatadropduplicates["Age"]

# Create the bins in which Data will be held  
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

# Create the names for the  bins
group_names = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


players_binned = pd.DataFrame(players_binned)
players_binned

     Age
0     20
1     40
2     24
3     24
4     23
..   ...
773   21
774   11
775   21
777   20
778    7

[576 rows x 1 columns]

In [123]:
#Now sort the data by age into their bins
players_binned["Age Group"] = pd.cut(players_binned["Age"], bins, labels=group_names, include_lowest=True)

players_binned

     Age Age Group
0     20     20-24
1     40       40+
2     24     20-24
3     24     20-24
4     23     20-24
..   ...       ...
773   21     20-24
774   11     10-14
775   21     20-24
777   20     20-24
778    7      < 10

[576 rows x 2 columns]

In [157]:
#Count the number of players in each bin
players_binned_counted=players_binned.groupby('Age Group').count()["Age"].rename("Age Group Count")
players_binned_counted=pd.DataFrame(players_binned_counted)
players_binned_counted

           Age Group Count
Age Group
< 10                    17
10-14                   22
15-19                  107
20-24                  258
25-29                   77
30-34                   52
35-39                   31
40+                     12

In [246]:
#players_binned_counted["Percentage of Players"]=pd.cut(players_binned["Age"], bins, labels=group_names, include_lowest=True)

#players_binned_counted
#This can be called.

In [247]:
players_binned_counted["Percentage of Players"]= (players_binned_counted["Age Group Count"]/number_unique_players)*100

players_binned_counted

#not sure how to get the Percentage column to go away, or how it got in there at all. Tried df.dropna, (axis=1) to no avail.

           Age Group Count  Percentage of Players
Age Group
< 10                    17               2.951389
10-14                   22               3.819444
15-19                  107              18.576389
20-24                  258              44.791667
25-29                   77              13.368056
30-34                   52               9.027778
35-39                   31               5.381944
40+                     12               2.083333

In [149]:
gender_purchase_total

,Total Purchase Value,Purchase Count,Average Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,361.94,113,3.203009,4.468395
Male,1967.64,652,3.017853,4.065372
Other / Non-Disclosed,50.19,15,3.346000,4.562727

In [237]:
age_purchase_total_df=playerdata.groupby(["Age"])

print(age_purchase_total_df)


age_purchase_total=playerdata.groupby(["Age"]).sum()["Price"].rename("Total Purchase Value")
total_purchase_value=age_purchase_total

purchase_count=playerdata.groupby(["Age"]).count()["Item Name"].rename("Total Count")

age_purchase_total_df=pd.DataFrame(age_purchase_total)
age_purchase_total_df["Purchase Count"]= purchase_count
age_purchase_total_df["Average Purchase Price"]= total_purchase_value /purchase_count
#gender_purchase_total["Avg Total Purchase per Person"]=total_purchase_value/player_sexes["Total Count"]


#age_purchase_total_df
#this can be called, but doesn't have much that's useful.

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021B952AE358>

In [235]:

# Create the bins in which Data will be held  
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

# Create the names for the  bins
group_names = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_bins_purchase_df=age_purchase_total_df

age_bins_purchase_df["Age Group"] = pd.cut(playerdata["Age"], bins, labels=group_names, include_lowest=True)

#age_bins_purchase_df
#this df can be called, but the age grouping is wrong.

In [251]:
#This is the one that's working. Don't change this code. 

only_purchase_data = playerdata[["Age", "Price", "Gender", "Purchase ID", "SN" ]]
only_purchase_data_df = pd.DataFrame(only_purchase_data)
# Create the bins in which Data will be held  
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
# Create the names for the  bins
group_names = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
only_purchase_data_df["Age Group"] = pd.cut(only_purchase_data_df["Age"], bins, labels=group_names, include_lowest=True)
only_purchase_data_df

     Age  Price  Gender  Purchase ID             SN Age Group
0     20   3.53    Male            0        Lisim78     20-24
1     40   1.56    Male            1    Lisovynya38       40+
2     24   4.88    Male            2     Ithergue48     20-24
3     24   3.27    Male            3  Chamassasya86     20-24
4     23   1.44    Male            4      Iskosia90     20-24
..   ...    ...     ...          ...            ...       ...
775   21   3.54  Female          775     Aethedru70     20-24
776   21   1.63    Male          776         Iral74     20-24
777   20   3.46    Male          777     Yathecal72     20-24
778    7   4.19    Male          778        Sisur91      < 10
779   24   4.60    Male          779      Ennrian78     20-24

[780 rows x 6 columns]

In [287]:
#count how many people are in each bin.
only_purchase_data_bin_unique_people=only_purchase_data_df.groupby('Age Group').count()["SN"].rename("Unique People") 
only_purchase_data_bin_unique_people=pd.DataFrame(only_purchase_data_bin_unique_people)


only_purchase_data_bin_unique_people

           Unique People
Age Group
< 10                  23
10-14                 28
15-19                136
20-24                365
25-29                101
30-34                 73
35-39                 41
40+                   13

In [283]:
#count how many people are in each bin.
only_purchase_data_bin_counts=only_purchase_data_df.groupby('Age Group').count()["Purchase ID"].rename("Total Count") 
only_purchase_data_bin_counts=pd.DataFrame(only_purchase_data_bin_counts)


only_purchase_data_bin_counts

           Total Count
Age Group
< 10                23
10-14               28
15-19              136
20-24              365
25-29              101
30-34               73
35-39               41
40+                 13

In [291]:
only_purchase_data_binned=only_purchase_data_df.groupby('Age Group').sum()["Price"].rename("Total Purchase Value")
only_purchase_data_binned=pd.DataFrame(only_purchase_data_binned)

purchase_count=playerdata.groupby(["Gender"]).count()["Item Name"].rename("Total Count")

only_purchase_data_binned["Purchase Count"]= only_purchase_data_bin_counts["Total Count"]
only_purchase_data_binned["Average Purchase Price"]= only_purchase_data_binned["Total Purchase Value"]/only_purchase_data_binned["Purchase Count"]
only_purchase_data_binned["Avg Total Purchase per Person"]=only_purchase_data_binned["Total Purchase Value"]/players_binned_counted["Age Group Count"]

only_purchase_data_binned

,Total Purchase Value,Purchase Count,Average Purchase Price,Avg Total Purchase per Person
Age Group,,,,
< 10,77.13,23,3.353478,4.537059
10-14,82.78,28,2.956429,3.762727
15-19,412.89,136,3.035956,3.858785
20-24,1114.06,365,3.052219,4.318062
25-29,293.00,101,2.900990,3.805195
30-34,214.00,73,2.931507,4.115385
35-39,147.67,41,3.601707,4.763548
40+,38.24,13,2.941538,3.186667

In [ ]:

players_binned_counted, Age Group Count

In [ ]:

gender_purchase_total=playerdata.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
total_purchase_value=gender_purchase_total

purchase_count=playerdata.groupby(["Gender"]).count()["Item Name"].rename("Total Count")

gender_purchase_total=pd.DataFrame(gender_purchase_total)
gender_purchase_total["Purchase Count"]= purchase_count
gender_purchase_total["Average Purchase Price"]= total_purchase_value /purchase_count
gender_purchase_total["Avg Total Purchase per Person"]=total_purchase_value/player_sexes["Total Count"]


gender_purchase_total