In [121]:
# Modules
import os
import csv
import pandas as pd

In [122]:
# Set path for file
csvpath = os.path.join("04-Pandas_Homework_Instructions_HeroesOfPymoli_Resources_purchase_data.csv")
playerdata=pd.read_csv(csvpath)
#playerdata

In [123]:
#display total number of purchases, just for fun.
total_purchases=len(playerdata)
total_purchases

780

In [124]:
#this gets us all the unique player names. Can be called, but not doing it for brevity
unique_players = playerdata['SN'].unique()
#print('Unique elements in column "SN" ')
#print(unique_players)

In [132]:
#find number of unique players. I tired to format this into a DataFrame (see commented line) but it keps giving me an error
#"DataFrame not formatted correctly" and I'm at a loss to solve this. I've tried. A LOT. 
number_unique_players=len(unique_players)

number_unique_players_int=int(number_unique_players)


#number_unique_players_int_df=pd.DataFrame(number_unique_players_int)
print ('Number of Players')
print(number_unique_players_int)

Number of Players
576

In [133]:
#make a list of the unique items. This can be called, not doing it for brevity.
unique_items=playerdata['Item Name'].unique()
#print (unique_items)

In [135]:
#obtain number of unique items
number_unique_items=len(unique_items)
number_unique_items

179

In [69]:
#average price(sum of price column/total_purchases OR df.describe)

average_price=playerdata.describe()['Price']['mean']
average_price

3.0509871794871795

In [70]:
#number of purchases is defined above
total_purchases

780

In [71]:
#finding total revenue for items sold

total_revenue=playerdata.sum()["Price"]
total_revenue

2379.77

In [136]:
purchasing_analysis={}

purchasing_analysis["Number of Unique Items"]=[number_unique_items]
purchasing_analysis["Average Price"]=[average_price]
purchasing_analysis["Number of Purchases"]=[total_purchases]
purchasing_analysis["Total Revenue"]=[total_revenue]

Total_Purchasing_Analysis=pd.DataFrame(purchasing_analysis)
Total_Purchasing_Analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [74]:
playerdatadropduplicates=playerdata[["Gender", "SN", "Age"]]

playerdatadropduplicates = playerdatadropduplicates.drop_duplicates()

playerdatadropduplicates

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

In [137]:
gender_counts=playerdatadropduplicates["Gender"].value_counts()
#gender_counts

In [138]:
player_sexes=playerdatadropduplicates.groupby('Gender').count() 
player_sexes["Total Count"]=gender_counts

player_sexes_nosn=player_sexes.drop(["SN", "Age"], axis=1)


#player_sexes_nosn

In [139]:
female_players=player_sexes.loc["Female", "SN"]
#female_players

In [140]:
male_players=player_sexes.loc["Male", "SN"]
#male_players

In [141]:
other_players=player_sexes.loc["Other / Non-Disclosed", "SN"]
#other_players

In [80]:
playerdata.nunique(axis=0, dropna=True)

Purchase ID    780
SN             576
Age             39
Gender           3
Item ID        179
Item Name      179
Price          145
dtype: int64

In [81]:
player_sexes_nosn["Percentage"]=(player_sexes_nosn/number_unique_players)*100 
player_sexes_nosn

                       Total Count  Percentage
Gender
Female                          81   14.062500
Male                           484   84.027778
Other / Non-Disclosed           11    1.909722

In [142]:
#playerdata

In [83]:

gender_purchase_total=playerdata.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
total_purchase_value=gender_purchase_total

purchase_count=playerdata.groupby(["Gender"]).count()["Item Name"].rename("Total Count")

gender_purchase_total=pd.DataFrame(gender_purchase_total)
gender_purchase_total["Purchase Count"]= purchase_count
gender_purchase_total["Average Purchase Price"]= total_purchase_value /purchase_count
gender_purchase_total["Avg Total Purchase per Person"]=total_purchase_value/player_sexes["Total Count"]


gender_purchase_total

,Total Purchase Value,Purchase Count,Average Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,361.94,113,3.203009,4.468395
Male,1967.64,652,3.017853,4.065372
Other / Non-Disclosed,50.19,15,3.346000,4.562727

In [84]:
#Find the range of player ages

print(playerdata["Age"].min())
print (playerdata["Age"].max())

7
45

In [143]:
players_binned=playerdatadropduplicates["Age"]

# Create the bins in which Data will be held  
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

# Create the names for the  bins
group_names = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


players_binned = pd.DataFrame(players_binned)
#players_binned

In [144]:
#Now sort the data by age into their bins
players_binned["Age Group"] = pd.cut(players_binned["Age"], bins, labels=group_names, include_lowest=True)

#players_binned

In [145]:
#Count the number of players in each bin
players_binned_counted=players_binned.groupby('Age Group').count()["Age"].rename("Age Group Count")
players_binned_counted=pd.DataFrame(players_binned_counted)
#players_binned_counted

In [88]:
#players_binned_counted["Percentage of Players"]=pd.cut(players_binned["Age"], bins, labels=group_names, include_lowest=True)

#players_binned_counted
#This can be called, but no reason to.

In [89]:
players_binned_counted["Percentage of Players"]= (players_binned_counted["Age Group Count"]/number_unique_players)*100

players_binned_counted

           Age Group Count  Percentage of Players
Age Group
< 10                    17               2.951389
10-14                   22               3.819444
15-19                  107              18.576389
20-24                  258              44.791667
25-29                   77              13.368056
30-34                   52               9.027778
35-39                   31               5.381944
40+                     12               2.083333

In [146]:
#gender_purchase_total. This is called and displayed above.

In [91]:
age_purchase_total_df=playerdata.groupby(["Age"])

print(age_purchase_total_df)


age_purchase_total=playerdata.groupby(["Age"]).sum()["Price"].rename("Total Purchase Value")
total_purchase_value=age_purchase_total

purchase_count=playerdata.groupby(["Age"]).count()["Item Name"].rename("Total Count")

age_purchase_total_df=pd.DataFrame(age_purchase_total)
age_purchase_total_df["Purchase Count"]= purchase_count
age_purchase_total_df["Average Purchase Price"]= total_purchase_value /purchase_count
#gender_purchase_total["Avg Total Purchase per Person"]=total_purchase_value/player_sexes["Total Count"]


#age_purchase_total_df
#this can be called, but doesn't have much that's useful. But I wrote this damn code and I will NOT erase it.

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001D3FC84E668>

In [151]:
#This is the one that's working. Don't change this code. 

only_purchase_data = playerdata[["Age", "Price", "Gender", "Purchase ID", "SN" ]]
only_purchase_data_df = pd.DataFrame(only_purchase_data)
# Create the bins in which Data will be held  
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
# Create the names for the  bins
group_names = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
only_purchase_data_df["Age Group"] = pd.cut(only_purchase_data_df["Age"], bins, labels=group_names, include_lowest=True)
#only_purchase_data_df

In [152]:
#count how many people are in each bin.
only_purchase_data_bin_unique_people=only_purchase_data_df.groupby('Age Group').count()["SN"].rename("Unique People") 
only_purchase_data_bin_unique_people=pd.DataFrame(only_purchase_data_bin_unique_people)


#only_purchase_data_bin_unique_people

In [153]:
#count how many people are in each bin.
only_purchase_data_bin_counts=only_purchase_data_df.groupby('Age Group').count()["Purchase ID"].rename("Total Count") 
only_purchase_data_bin_counts=pd.DataFrame(only_purchase_data_bin_counts)


#only_purchase_data_bin_counts

In [150]:
#This works. Don't change this code. 
only_purchase_data_binned=only_purchase_data_df.groupby('Age Group').sum()["Price"].rename("Total Purchase Value")
only_purchase_data_binned=pd.DataFrame(only_purchase_data_binned)

purchase_count=playerdata.groupby(["Gender"]).count()["Item Name"].rename("Total Count")

only_purchase_data_binned["Purchase Count"]= only_purchase_data_bin_counts["Total Count"]
only_purchase_data_binned["Average Purchase Price"]= only_purchase_data_binned["Total Purchase Value"]/only_purchase_data_binned["Purchase Count"]
only_purchase_data_binned["Avg Total Purchase per Person"]=only_purchase_data_binned["Total Purchase Value"]/players_binned_counted["Age Group Count"]

only_purchase_data_binned

,Total Purchase Value,Purchase Count,Average Purchase Price,Avg Total Purchase per Person
Age Group,,,,
< 10,77.13,23,3.353478,4.537059
10-14,82.78,28,2.956429,3.762727
15-19,412.89,136,3.035956,3.858785
20-24,1114.06,365,3.052219,4.318062
25-29,293.00,101,2.900990,3.805195
30-34,214.00,73,2.931507,4.115385
35-39,147.67,41,3.601707,4.763548
40+,38.24,13,2.941538,3.186667

In [154]:
#count how many people are in each bin.
SN_only_purchase_data_bin_counts=only_purchase_data_df.groupby('SN').count()["Purchase ID"].rename("Total Count") 
SN_only_purchase_data_bin_counts=pd.DataFrame(only_purchase_data_bin_counts)


#SN_only_purchase_data_bin_counts

In [167]:
SN_Data_Purchase=playerdata.groupby("SN").sum()["Price"].rename("Total Purchase Value")
SN_Data_Purchase_df=pd.DataFrame(SN_Data_Purchase)

SN_Data_Purchase_df["Purchase Count"]= only_purchase_data_df.groupby('SN').count()["Purchase ID"].rename("Total Count") 
SN_Data_Purchase_df["Average Purchase Price"]=(playerdata.groupby("SN").sum()["Price"])/(only_purchase_data_df.groupby('SN').count()["Purchase ID"].rename("Total Count"))

SN_Data_Purchase_sorted=SN_Data_Purchase_df.sort_values(by=['Total Purchase Value'], ascending=False)



SN_Data_Purchase_sorted.head()
#SN_Data_Purchase.drop["Avg Total Purchase per Person"] didn't work to drop the last column. Try something else?

             Total Purchase Value  Purchase Count  Average Purchase Price
SN
Lisosia93                   18.96               5                3.792000
Idastidru52                 15.45               4                3.862500
Chamjask73                  13.83               3                4.610000
Iral74                      13.62               4                3.405000
Iskadarya95                 13.10               3                4.366667

In [168]:
items_df=playerdata.groupby(['Item ID', 'Item Name']).count()["Purchase ID"].rename("Total Count")  
items_df=pd.DataFrame(items_df)

#items_df
#I realize that this is an awkward way to get to the final result in the table below, but it's what seems to be working tonight

In [169]:
popular_items=playerdata.groupby(['Item ID', 'Item Name']).sum()["Price"].rename("Total Purchase Value")
popular_items=pd.DataFrame(popular_items)

popular_items["Purchase Count"]=items_df["Total Count"]
popular_items["Item Price"]=playerdata["Price"]

new_popular_items_df=pd.concat([items_df, popular_items], axis=1)

new_popular_items_df["Item Price"]=(new_popular_items_df["Total Purchase Value"]/new_popular_items_df["Purchase Count"])

del new_popular_items_df["Total Count"]

new_popular_items_df_descending=new_popular_items_df.sort_values(["Purchase Count"], ascending=False)

new_popular_items_df_descending.head()

,,Total Purchase Value,Purchase Count,Item Price
Item ID,Item Name,,,
92,Final Critic,59.99,13,4.614615
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,12,4.230000
145,Fiery Glass Crusader,41.22,9,4.580000
132,Persuasion,28.99,9,3.221111
108,"Extraction, Quickblade Of Trembling Hands",31.77,9,3.530000

In [170]:
new_popular_items_df_descending_sorted=new_popular_items_df_descending.sort_values(["Total Purchase Value"], ascending=False)


new_popular_items_df_descending_sorted.head()

,,Total Purchase Value,Purchase Count,Item Price
Item ID,Item Name,,,
92,Final Critic,59.99,13,4.614615
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,12,4.230000
82,Nirvana,44.10,9,4.900000
145,Fiery Glass Crusader,41.22,9,4.580000
103,Singed Scalpel,34.80,8,4.350000